body{
    background-color: #283747 ;
    text-align: center;
    font-family: "Arial";
    color: #333;
    padding: 0;
    margin: 0;
    font-size: 16px;
}

#container{
    background-color: honeydew;
    width: 70%;
    margin: 0 auto;
    border: 1px solid darkgray;
    text-align: left;
    padding: 0;
}

#container h1{
    font-size: 20px;
}

#cabecera{
    background-color: #2874A6;
    color: whitesmoke;
    padding: 1em;
    font-weight: bold;
    font-size: 18px;
}

#post{
    padding: 1em;
}

#logo{
    width: 30px;
    vertical-align: middle;

}

#footer{
    color: aliceblue;
    text-align: center;
    background-color: darkgray;
    padding: 0.5em;
}

img{
    width: 100%;
}