body{
    text-align: center;
    font-family: "Arial";
    color: rgb(19, 19, 19);
    padding: 0;
    margin: 0;
    font-size: 16px;
}

#container{
    width: 70%;
    margin: 0 auto;
    border: 1px solid darkgray;
    text-align: left;
    padding: 0;
}

#container h1{
    font-size: 20px;
}

#cabecera{
    background-color: dodgerblue;
    color: whitesmoke;
    padding: 1em;
    font-weight: bold;
    font-size: 18px;
}

#post{
    padding: 1em;
}